{
  "openapi" : "3.0.1",
  "info" : {
    "title" : "openapi-tps",
    "description" : "RESTful API TPS Online Host to Host Services",
    "license" : {
      "name" : "For Internal Use Only",
      "url" : "http://beacukai.go.id"
    },
    "version" : "1"
  },
  "externalDocs" : {
    "description" : "Pedoman Integrasi API",
    "url" : ""
  },
  "servers" : [ {
    "url" : "https://apis-gw.beacukai.go.id/v1/openapi-tpsonline"
  } ],
  "security" : [ {
    "oAuth2Token" : [ ],
    "apiKey" : [ ]
  } ],
  "tags" : [ {
    "name" : "TPS H2H"
  }, {
    "name" : "H2H Service",
    "description" : ""
  } ],
  "paths" : {
    "/permohonan-bc12" : {
      "post" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk Upload data permohonan BC12",
        "operationId" : "permohonanBC12",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/Bc12DocumentDto"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseObject"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-sppb12-tps-asal" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Get SPPB BC1.2 data by Kode TPS Asal",
        "operationId" : "getSppb12TpsAsal",
        "parameters" : [ {
          "name" : "kodeTpsAsal",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseListBc12TdHdrDto"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-dokumen-pabean-permit-fasp" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk mendownload data Dokumen Pabean dengan parameter kode tps",
        "operationId" : "getDokumenPabeanPermitFasp",
        "parameters" : [ {
          "name" : "kodeTps",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseListDokumenPabeanPermitResponseDto"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/coarri-codeco-kemasan" : {
      "post" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk insert data Coarri Kemasan (Baru, dengan penambahan kolom pada detil kemasan)",
        "operationId" : "coarriCodecoKemasan",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CoarriCodecoRequestDto"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseObject"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-sp3b-pel-bongkar-akhir" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk mendownload data SP3B, filter yang digunakan adalah Kode pelabuhan bongkar akhir",
        "operationId" : "GetSP3B_PelBongkarAkhir",
        "parameters" : [ {
          "name" : "kodePelabuhanAkhir",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseSp3bPelBongkarAkhirResponseDto"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-spjm" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk mendownload data barang yang terkena SPJM dengan parameter KD TPS",
        "operationId" : "getSpjm",
        "parameters" : [ {
          "name" : "kodeTps",
          "in" : "query",
          "required" : false,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseSpjmResponseDto"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-impor-sppb" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk mendownload data SPPB",
        "description" : "Fungsi untuk mendownload data SPPB, filter yang digunakan adalah tanggal SPPB, nomor SPPB dan NPWP, format tanggal #ddmmyyyy#",
        "operationId" : "GetImporSppb",
        "parameters" : [ {
          "name" : "nomorDokumen",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "tanggalDokumen",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "npwpImp",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "examples" : {
                  "Data berhasil terkirim" : {
                    "description" : "Data berhasil terkirim",
                    "value" : "{\"result\":\"Data(s) successfully fetched.\",\"detail\":\"Data berhasil terkirim.\",\"path\":\"/get-impor-sppb\",\"date\":\"19-08-2025 23:01:44:90 WIB\",\"code\":200,\"version\":\"1.0.0\",\"data\":[{\"header\":[{\"idheader\":\"2\",\"car\":\"CAR57\",\"nomorDokumen\":\"NODOK341\",\"tanggalDokumen\":\"2025-06-06\",\"kodeKantor\":\"040300\",\"nomorPib\":\"PIB13\",\"tanggalPib\":\"2025-06-04\",\"npwpImp\":\"1234567890123456\",\"npwpPpjk\":\"1234567890123456\",\"namaAngkut\":\"ANG1\",\"nomorVoyFlight\":\"VOY13\",\"bruto\":\"20.0000\",\"netto\":\"20.0000\",\"gudang\":\"DOJA\",\"statusJalur\":\"JL\",\"flagKarantina\":\"true\",\"jumlahKontainer\":\"1\",\"nomorBc11\":\"POSX31\",\"tanggalBc11\":\"2025-06-06\",\"nomorPosBc11\":\"POSBC11\"}],\"kontainer\":[{\"car\":\"CAR57\",\"nomorKontainer\":\"NK5\",\"ukuranKontainer\":\"M\",\"jenisMuat\":\"0\"}],\"kemasan\":[{\"car\":\"CAR57\",\"jenisKemasan\":\"str\",\"merkKemasan\":\"string\",\"jumlahKemasan\":\"0\"}],\"dokumen\":[{\"car\":\"CAR57\",\"jenisDokumen\":\"DK\",\"nomorDokumen\":\"NODOk2\",\"tanggalDokumen\":\"2025-06-06 00:00:00.0\"}]}]}"
                  },
                  "Data tidak ditemukan" : {
                    "description" : "Data tidak ditemukan",
                    "value" : "{\"result\":\"Data(s) successfully fetched.\",\"detail\":\"Data tidak ditemukan. Tidak ada data yang sesuai dengan pencarian.\",\"path\":\"/get-impor-sppb\",\"date\":\"19-08-2025 23:20:57:35 WIB\",\"code\":200,\"version\":\"1.0.0\",\"data\":null}"
                  }
                },
                "example" : null
              }
            }
          },
          "400" : {
            "description" : "Error: response status is 400",
            "content" : {
              "application/json" : {
                "examples" : {
                  "Invalid Date Format" : {
                    "description" : "Invalid Date Format",
                    "value" : "{\"result\":\"Some of parameter(s) are invalid.\",\"detail\":\"Invalid date format. Expected dd-MM-yyyy.\",\"path\":\"/get-impor-sppb\",\"date\":\"19-08-2025 23:29:51:45 WIB\",\"code\":400,\"version\":\"1.0.0\",\"data\":null}"
                  }
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-ekspor-permit-fnpe" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk mendownload data NPE berdasarkan No.NPE, NPWP Eksportir dan Kode Kantor",
        "operationId" : "getEksporPermitFnpe",
        "parameters" : [ {
          "name" : "nomorNpe",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "npwp",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "kodeKantor",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseEksporPermitFnpeResponseDto"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-ekspor-peb" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk mendownload data NPE, filter yang digunakan adalah No PEB, Tgl PEB format #dd-MM-yyyy#, NPWP ",
        "operationId" : "getEksporPEB",
        "parameters" : [ {
          "name" : "nomorPeb",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "tanggalPeb",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "npwp",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseGetPEBResponse"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-respon-batal-plp-on-demand" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk mendownload data Batal PLP, filter yang digunakan adalah (nomor dan tanggal Batal PLP atau RefNumber), Kode Gudang, format tanggal #dd-MM-yyyy#",
        "operationId" : "getResponBatalPlpOnDemands",
        "parameters" : [ {
          "name" : "nomorBatalPlp",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "tanggalBatalPlp",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "kodeGudang",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "refNumber",
          "in" : "query",
          "required" : false,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseResponBatalPlpOnDemandResponseDto"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-npe" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk mendapatkan nomor dan tanggal NPE, filter yang digunakan adalah NPWP Eksportir, nomor NPE (6 digit)dan Kode Kantor Penerbit NPE",
        "operationId" : "getNPE",
        "parameters" : [ {
          "name" : "kodeKantor",
          "in" : "query",
          "required" : false,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "",
            "example" : null
          }
        }, {
          "name" : "nomorNpe",
          "in" : "query",
          "required" : false,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "",
            "example" : null
          }
        }, {
          "name" : "npwpEksportir",
          "in" : "query",
          "required" : false,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseGetNPEResponse"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-respon-plp" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk mendownload data Respon PLP yang sudah diproses, filter yang digunakan adalah kode TPS",
        "operationId" : "getResponPLP",
        "parameters" : [ {
          "name" : "kodeTps",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseResponPLPResponseDto"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-dokumen-pabean-ondemand" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Get Dokumen Pabean On Demand",
        "operationId" : "getDokumenPabeanOnDemand",
        "parameters" : [ {
          "name" : "kodeDokumen",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "nomorDokumen",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "tanggalDokumen",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseListGetDokumenPabeanOnDemandResponseDto"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-impor-permit" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk mendownload data SPPB, filter yang digunakan adalah kode Gudang",
        "operationId" : "getInportPermit",
        "parameters" : [ {
          "name" : "kodeGudang",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseGetImporPermitResponse"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-pendukung-plp-bl" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk mendownload data Pendukung PLP dengan data BL",
        "operationId" : "getPendukungPLPBL",
        "parameters" : [ {
          "name" : "nomorBc11",
          "in" : "query",
          "required" : false,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "",
            "example" : null
          }
        }, {
          "name" : "tanggalBc11",
          "in" : "query",
          "required" : false,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "",
            "example" : null
          }
        }, {
          "name" : "nomorKontainer",
          "in" : "query",
          "required" : false,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponsePendukungPLPBLResponseDto"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-impor-permit-fasp" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk mendownload data SPPB, filter yang digunakan adalah kode TPS",
        "operationId" : "GetImporPermit_FASP",
        "parameters" : [ {
          "name" : "kodeTps",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseGetImporPermitResponse"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-manifes" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk mendapatkan data manifes berdasarkan BC 1.1 (nomor, tanggal, nomor pos, kelompok pos, kode kantor)",
        "operationId" : "getManifes",
        "parameters" : [ {
          "name" : "nomorBc11",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "tanggalBc11",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "nomorPos",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "kelompokPos",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "kodeKantor",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseGetManifesDataPojo"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/api/async/status" : {
      "get" : {
        "tags" : [ "Background Process" ],
        "operationId" : "listStatuses",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "required" : false,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 0,
            "example" : null
          }
        }, {
          "name" : "size",
          "in" : "query",
          "required" : false,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "default" : 20,
            "example" : null
          }
        }, {
          "name" : "status",
          "in" : "query",
          "required" : false,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "name",
          "in" : "query",
          "required" : false,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "processId",
          "in" : "query",
          "required" : false,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "type" : "object",
                  "additionalProperties" : {
                    "type" : "object",
                    "example" : null
                  },
                  "example" : null
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/tps-tracking" : {
      "get" : {
        "summary" : "Fungsi untuk mengambil riwayat tracking pergerakan kontainer",
        "operationId" : "getTrackingHistory",
        "parameters" : [ {
          "name" : "nomorKontainer",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "nomorBlAwb",
          "in" : "query",
          "required" : false,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "tanggalBlAwb",
          "in" : "query",
          "required" : false,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "format" : "date",
            "example" : null
          }
        }, {
          "name" : "limit",
          "in" : "query",
          "required" : false,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseObject"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-pendukung-plp" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk mendownload data Pendukung PLP",
        "operationId" : "getPendukungPLP",
        "parameters" : [ {
          "name" : "nomorBc11",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "tanggalBc11",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "nomorKontainer",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponsePendukungPLPResponseDto"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-ekspor-npe" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk mendownload data NPE, filter yang digunakan adalah No NPE, NPWP, Kode Kantor",
        "operationId" : "getNPE_1",
        "parameters" : [ {
          "name" : "nomorNpe",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "kodeKantor",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "npwp",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseGetEksporNPEResponse"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-bc23-permit-fasp" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Get BC23 Permit for FASP",
        "description" : "This endpoint retrieves BC23 permit data for a specific ASP (Authorized Shipping Partner) based on the provided request parameters.",
        "operationId" : "getBC23PermitFASP",
        "parameters" : [ {
          "name" : "kodeTps",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseGetBC23PermitResponse"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/upload-batal-plp" : {
      "post" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk Upload data pembatalan PLP",
        "operationId" : "uploadBatalPLP",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/UploadBatalPlpRequestDto"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "examples" : {
                  "Proses Berhasil" : {
                    "description" : "Proses Berhasil",
                    "value" : "{\"result\":\"Data successfully created.\",\"detail\":\"Proses Berhasil REF-20240619-010\",\"path\":\"/upload-batal-plp\",\"date\":\"20-08-2025 00:51:05:48 WIB\",\"code\":201,\"version\":\"1.0.0\",\"data\":{\"refNumber\":\"REF-20240619-010\"}}"
                  },
                  "No. Ref PLP already used" : {
                    "description" : "No. Ref PLP already used",
                    "value" : "{\"result\":\"Data(s) successfully fetched.\",\"detail\":\"No. Referensi PLP sudah pernah digunakan.\",\"path\":\"/upload-batal-plp\",\"date\":\"20-08-2025 00:31:54:80 WIB\",\"code\":200,\"version\":\"1.0.0\",\"data\":null}"
                  }
                },
                "example" : null
              }
            }
          },
          "403" : {
            "description" : "Error: response status is 403",
            "content" : {
              "application/json" : {
                "examples" : {
                  "Forbidden by Kode TPS" : {
                    "description" : "Forbidden by Kode TPS",
                    "value" : "{\"result\":\"Some of parameter(s) are invalid.\",\"detail\":\"Akun Anda tidak berhak mengakses data TPS KOJA\",\"path\":\"/upload-batal-plp\",\"date\":\"20-08-2025 00:46:22:41 WIB\",\"code\":403,\"version\":\"1.0.0\",\"data\":null}"
                  },
                  "Forbidden by Kode Kantor" : {
                    "description" : "Forbidden by Kode Kantor",
                    "value" : "{\"result\":\"Some of parameter(s) are invalid.\",\"detail\":\"Akun Anda tidak berhak mengakses data Kantor 040301\",\"path\":\"/upload-batal-plp\",\"date\":\"20-08-2025 00:48:22:47 WIB\",\"code\":403,\"version\":\"1.0.0\",\"data\":null}"
                  }
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-spjm-ondemand" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk mendownload data barang yang terkena SPJM dengan filter No.PIB dan Tgl. PIB format dd-MM-yyyy",
        "operationId" : "getSPJMonDemand",
        "parameters" : [ {
          "name" : "nomorDaftar",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "tanggalDaftar",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "examples" : {
                  "Data berhasil terkirim" : {
                    "description" : "Data berhasil terkirim",
                    "value" : "{\"result\":\"Data(s) successfully fetched.\",\"detail\":\"Data berhasil terkirim.\",\"path\":\"/get-spjm-ondemand\",\"date\":\"20-11-2025 10:52:33:16 WIB\",\"code\":200,\"version\":\"1.0.1\",\"data\":[{\"car\":\"2012032A145C202509020333\",\"kodeKantor\":\"040300\",\"nomorPib\":\"404040\",\"tanggalPib\":\"08/09/2025\",\"npwpImp\":\"0444123456784000000000\",\"namaImp\":\"PT BEA CUKAI\",\"npwpPpjk\":\"0444123456784000000000\",\"namaPpjk\":\"AGUS RAHARJO\",\"kodeGudang\":\"KTPS\",\"jumlahKontainer\":1,\"nomorBc11\":\"001111\",\"tanggalBc11\":\"06/09/2025\",\"nomorPosBc11\":\"012340000000\",\"flagKarantina\":false,\"namaAngkut\":\"MSC EMMA\",\"nomorVoyFlight\":\"UK527R\",\"tanggalSpjm\":\"20250908131010\",\"kontainer\":[{\"car\":\"2012032A145C20250902000065\",\"nomorKontainer\":\"FCIU1234567\",\"kodeUkuranKontainer\":\"20\",\"kodeJenisKontainer\":\"8\",\"flagPeriksaAcak\":\"T\"}],\"kemasan\":[{\"car\":\"2012032A145C20250902000065\",\"kodeJenisKemasan\":\"VR\",\"jumlahKemasan\":\"19\"}],\"dokumen\":[{\"car\":\"2012032A145C20250902000065\",\"kodeDokumen\":\"705\",\"nomorDokumen\":\"MEDUVC123456\",\"tanggalDokumen\":\"07/07/2025\"}]}]}"
                  },
                  "Data tidak ditemukan" : {
                    "description" : "Data tidak ditemukan",
                    "value" : "{\"result\":\"Data(s) successfully fetched.\",\"detail\":\"Data tidak ditemukan. Tidak ada data yang sesuai dengan pencarian.\",\"path\":\"/get-spjm-ondemand\",\"date\":\"19-08-2025 23:48:51:46 WIB\",\"code\":200,\"version\":\"1.0.0\",\"data\":null}"
                  }
                },
                "example" : null
              }
            }
          },
          "400" : {
            "description" : "Error: response status is 400",
            "content" : {
              "application/json" : {
                "examples" : {
                  "Invalid Date Format" : {
                    "description" : "Invalid Date Format",
                    "value" : "{\"result\":\"Some of parameter(s) are invalid.\",\"detail\":\"Invalid date format. Expected dd-MM-yyyy.\",\"path\":\"/get-spjm-ondemand\",\"date\":\"19-08-2025 23:49:42:52 WIB\",\"code\":400,\"version\":\"1.0.0\",\"data\":null}"
                  }
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/coarri-codeco-car-terminal" : {
      "post" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk melakukan insert data Coarri Car Terminal",
        "operationId" : "CoCoCarTerminal",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CococarDto"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseObject"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-sp3b-ondemand" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk mendownload data SP3B, filter yang digunakan adalah No.SP3B, Tgl.SP3B dengan format #ddmmyyyy# dan kode kantor",
        "operationId" : "getSP3BonDemand",
        "parameters" : [ {
          "name" : "kodeDokumen",
          "in" : "query",
          "required" : false,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "",
            "example" : null
          }
        }, {
          "name" : "nomorSP3B",
          "in" : "query",
          "required" : false,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "",
            "example" : null
          }
        }, {
          "name" : "tanggalSP3B",
          "in" : "query",
          "required" : false,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "default" : "",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseSp3bResponseDto"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-bc23-permit" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Get BC23 Permit",
        "operationId" : "getBC23Permit",
        "parameters" : [ {
          "name" : "kodeGudang",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseGetBC23PermitResponse"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-dokumen-manual" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk mendownload data dokumen manual",
        "operationId" : "getDokumenManualDto",
        "parameters" : [ {
          "name" : "kodeTps",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "examples" : {
                  "Get Data by Nama Angkut" : {
                    "description" : "Get Data by Nama Angkut",
                    "value" : "{\"result\":\"Data(s) successfully fetched.\",\"detail\":\"Berhasil mendapatkan data.\",\"path\":\"/get-dokumen-manual\",\"date\":\"18-08-2025 22:58:40:39 WIB\",\"code\":200,\"version\":\"1.0.0\",\"data\":[{\"header\":{\"id\":9,\"kodeKantor\":\"040300\",\"kodeDokumenInOut\":\"DK\",\"nomorDokumenInOut\":\"NODK3\",\"tanggalDokumenInOut\":\"2025-07-25\",\"idConsignee\":\"1234567890123456\",\"npwpPpjk\":\"1234567890123456\",\"namaAngkut\":\"ANG\",\"nomorVoyFlight\":\"VOY3812\",\"kodeGudang\":\"DOJA\",\"jumlahKontainer\":\"9\",\"nomorBc11\":\"POSX31\",\"tanggalBc11\":\"2025-07-25\",\"nomorPosBc11\":\"POSBC11\",\"nomorBlAwb\":\"BLAWB1\",\"tanggalBlAwb\":\"2025-07-22\",\"flagSegel\":\"true\"},\"kontainerList\":[{\"idTpsDokumenManual\":9,\"nomorKontainer\":\"AW\",\"ukuranKontainer\":\"AW\",\"jenisKontainer\":\"2\",\"bruto\":\"120.0000\"},{\"idTpsDokumenManual\":9,\"nomorKontainer\":\"AW\",\"ukuranKontainer\":\"AW\",\"jenisKontainer\":\"2\",\"bruto\":\"120.0000\"}],\"kemasanList\":[{\"idTpsDokumenManual\":9,\"jumlahKemasan\":\"5\",\"jenisKemasan\":\"BL\",\"merkKemasan\":\"BajaKontainer\"},{\"idTpsDokumenManual\":9,\"jumlahKemasan\":\"60\",\"jenisKemasan\":\"BL\",\"merkKemasan\":\"BajaKontainer\"}]},{\"header\":{\"id\":10,\"kodeKantor\":\"040300\",\"kodeDokumenInOut\":\"DK\",\"nomorDokumenInOut\":\"SDK/XXA11-2025\",\"tanggalDokumenInOut\":\"2025-06-06\",\"idConsignee\":\"1234567890123456\",\"npwpPpjk\":\"1234567890123456\",\"namaAngkut\":\"ANG\",\"nomorVoyFlight\":\"VOY3812\",\"kodeGudang\":\"DOJA\",\"jumlahKontainer\":\"11\",\"nomorBc11\":\"POSX31\",\"tanggalBc11\":\"2025-06-06\",\"nomorPosBc11\":\"POSBC11\",\"nomorBlAwb\":\"BLAWB1\",\"tanggalBlAwb\":\"2025-06-03\",\"flagSegel\":\"true\"},\"kontainerList\":[{\"idTpsDokumenManual\":10,\"nomorKontainer\":\"AW\",\"ukuranKontainer\":\"AW\",\"jenisKontainer\":\"2\",\"bruto\":\"120.0000\"},{\"idTpsDokumenManual\":10,\"nomorKontainer\":\"AW\",\"ukuranKontainer\":\"AW\",\"jenisKontainer\":\"2\",\"bruto\":\"120.0000\"}],\"kemasanList\":[{\"idTpsDokumenManual\":10,\"jumlahKemasan\":\"50\",\"jenisKemasan\":\"BL\",\"merkKemasan\":\"BajaKontainer\"},{\"idTpsDokumenManual\":10,\"jumlahKemasan\":\"30\",\"jenisKemasan\":\"BL\",\"merkKemasan\":\"BajaKontainer\"}]}]}"
                  },
                  "Data tidak ditemukan" : {
                    "description" : "Data tidak ditemukan",
                    "value" : "{\"result\":\"Data(s) successfully fetched.\",\"detail\":\"Data tidak ditemukan. Tidak ada data yang sesuai dengan pencarian.\",\"path\":\"/get-dokumen-manual\",\"date\":\"18-08-2025 22:46:41:28 WIB\",\"code\":200,\"version\":\"1.0.0\",\"data\":null}"
                  }
                },
                "example" : null
              }
            }
          },
          "400" : {
            "description" : "Error: response status is 400",
            "content" : {
              "application/json" : {
                "example" : "{\"result\":\"Some of parameter(s) are invalid.\",\"detail\":\"Panjang karakter maksimal 4 karakter\",\"path\":\"/get-dokumen-manual\",\"date\":\"18-08-2025 22:51:08:82 WIB\",\"code\":400,\"version\":\"1.0.0\",\"data\":null}"
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-respon-plp-on-demand" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk mendownload data PLP, filter yang digunakan adalah (nomor dan tanggal PLP atau RefNumber), Kode Gudang, format tanggal #ddmmyyyy#",
        "operationId" : "getResponPLP_onDemands",
        "parameters" : [ {
          "name" : "nomorPlp",
          "in" : "query",
          "required" : false,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "tanggalPlp",
          "in" : "query",
          "required" : false,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "nomorReference",
          "in" : "query",
          "required" : false,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "kodeGudang",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseListResponsePlpOndemandDto"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/tps-tracking/batch" : {
      "post" : {
        "summary" : "Fungsi untuk merekam banyak data tracking pergerakan kontainer TPS sekaligus",
        "operationId" : "createTrackingBatch",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "type" : "array",
                "items" : {
                  "$ref" : "#/components/schemas/TdTpsTrackingRequest"
                },
                "example" : null
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseObject"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/cek-data-sppb-tpb" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk cek jumlah data SPPB TPB berdasarkan tanggal sppb tertentu",
        "operationId" : "cekDataSPPBTPB",
        "parameters" : [ {
          "name" : "tanggalSPPB",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseCekDataSPPBResponse"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-respon-batal-plp" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk mengambil data persetujuan pembatalan PLP",
        "operationId" : "getResponBatalPlp",
        "parameters" : [ ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseResponBatalPlpResponseDto"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-respon-penolakan-bc12" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk mendownload data Respon NP4 Bc12 yang sudah diproses, filter yang digunakan adalah kode TPS",
        "operationId" : "getResponPenolakanBC12",
        "parameters" : [ {
          "name" : "kodeTps",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseListGetResponPenolakanBc12Dto"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/total-realisasi-bongkar-muat" : {
      "post" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk Mengirimkan data total realisasi Bongkar Muat",
        "operationId" : "totalRealisasiBongkarMuat",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RealisasiBongkarDocumentDto"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseObject"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-info-nomor-bc11" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk Mendapatkan Info Nomor BC11 dengan parameter Tanggal Tiba Kapal/ Pesawat, format Tanggal ddMMyyyy",
        "operationId" : "getInfoNoBC11",
        "parameters" : [ {
          "name" : "tanggalTibaAwal",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "tanggalTibaAkhir",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseListTdManifesResponPojo"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-respon-plp-tujuan-v2" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk mendownload data Respon PLP yang sudah disetujui, oleh TPS Tujuan, filter yang digunakan adalah kode TPS",
        "operationId" : "getResponPLPTujuan_1",
        "parameters" : [ {
          "name" : "kodeTps",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseResponPLPTujuanResponseDto"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-dokumen-manual-ondemand" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk mendownload data dokumen manual on demand, parameter Kode Dokumen, Nomor Dokumen dan Tanggal Dokumen (ddMMyyyy)",
        "operationId" : "getDokumenManualOnDemand",
        "parameters" : [ {
          "name" : "kodeDokumen",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "nomorDokumen",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "tanggalDokumen",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseDokumenManualOnDemandWrapDto"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/cek-data-terkirim" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk cek jumlah data yang terkirim (Format tanggal : dd-mm-yyyy)",
        "operationId" : "cekDataTerkirim",
        "parameters" : [ {
          "name" : "tanggalAwal",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "tanggalAkhir",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseCekDataTerkirimResponseDto"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/total-realisasi-gate-out-parsial" : {
      "post" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk Mengirimkan data total realisasi gateout parsial",
        "operationId" : "totalRealisasiGateOutParsial",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/RealisasiGateOutDocumentDto"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseObject"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/upload-mohon-plp" : {
      "post" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk Upload data permohonan PLP",
        "operationId" : "uploadMohonPlp",
        "parameters" : [ ],
        "requestBody" : {
          "description" : "Permohonan PLP payload",
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PermohonanPlpRequestV2"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseObject"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-sppb-bc23" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "GetSppb_Bc23",
        "operationId" : "getSppbData",
        "parameters" : [ {
          "name" : "noSppb",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "tglSppb",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "npwpImp",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseGetBC23PermitResponse"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/kirim-tps-tracking" : {
      "post" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk merekam data tracking pergerakan kontainer TPS",
        "operationId" : "createTracking",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/TdTpsTrackingRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseObject"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-batal-pabean-on-demand" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk mengambil data gagal pabean on demand",
        "operationId" : "getBatalPabeanOnDemand",
        "parameters" : [ {
          "name" : "nomorSppb",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "tanggalSppb",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseBatalPabeanResponseDto"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/coarri-codeco-tangki" : {
      "post" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk insert data Coarri Tangki",
        "operationId" : "cocoTangki",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CoarriCodecoTangkiRequestDto"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseObject"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-reject-data" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk mengambil data Reject",
        "operationId" : "getRejectData",
        "parameters" : [ {
          "name" : "kodeTps",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "examples" : {
                  "Data berhasil terkirim" : {
                    "description" : "Data berhasil terkirim",
                    "value" : "{\"result\":\"Data(s) successfully fetched.\",\"detail\":\"Data berhasil terkirim.\",\"path\":\"/get-reject-data\",\"date\":\"20-08-2025 00:07:39:18 WIB\",\"code\":200,\"version\":\"1.0.0\",\"data\":[{\"refNumber\":\"REFDJ1\",\"nomorKontainer\":\"container-2\",\"uraianReject\":\"Tidak valid\",\"tanggalReject\":\"08-11-2025\"}]}"
                  },
                  "Data tidak ditemukan" : {
                    "description" : "Data tidak ditemukan",
                    "value" : "{\"result\":\"Data(s) successfully fetched.\",\"detail\":\"Data tidak ditemukan. Tidak ada data yang sesuai dengan pencarian.\",\"path\":\"/get-reject-data\",\"date\":\"20-08-2025 00:02:42:24 WIB\",\"code\":200,\"version\":\"1.0.0\",\"data\":null}"
                  }
                },
                "example" : null
              }
            }
          },
          "403" : {
            "description" : "Error: response status is 403",
            "content" : {
              "application/json" : {
                "example" : "{\"result\":\"Some of parameter(s) are invalid.\",\"detail\":\"Akun Anda tidak berhak mengakses data TPS KOJA\",\"path\":\"/get-reject-data\",\"date\":\"20-08-2025 00:05:18:93 WIB\",\"code\":403,\"version\":\"1.0.0\",\"data\":null}"
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/cek-data-gagal-kirim" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk cek jumlah data yang gagal terkirim (Format tanggal : dd-mm-yyyy)",
        "operationId" : "cekDataGagalKirim",
        "parameters" : [ {
          "name" : "tanggalAwal",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "tanggalAkhir",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "examples" : {
                  "Data berhasil terkirim" : {
                    "description" : "Data berhasil terkirim",
                    "value" : "{\"result\":\"Data(s) successfully fetched.\",\"detail\":\"Data berhasil terkirim.\",\"path\":\"/cek-data-gagal-kirim\",\"date\":\"18-08-2025 22:29:17:21 WIB\",\"code\":200,\"version\":\"1.0.0\",\"data\":{\"jumlah\":2,\"refNumberProfilError\":[\"678910\",\"54321\"]}}"
                  },
                  "Data tidak ditemukan" : {
                    "description" : "Data tidak ditemukan",
                    "value" : "{\"result\":\"Data(s) successfully fetched.\",\"detail\":\"Data tidak ditemukan. Tidak ada data yang sesuai dengan pencarian.\",\"path\":\"/cek-data-gagal-kirim\",\"date\":\"18-08-2025 22:33:36:49 WIB\",\"code\":200,\"version\":\"1.0.0\",\"data\":null}"
                  }
                },
                "example" : null
              }
            }
          },
          "400" : {
            "description" : "Error: response status is 400",
            "content" : {
              "application/json" : {
                "example" : "{\"result\":\"Data(s) successfully fetched.\",\"detail\":\"Data tidak ditemukan. Tidak ada data yang sesuai dengan pencarian.\",\"path\":\"/cek-data-gagal-kirim\",\"date\":\"18-08-2025 22:33:36:49 WIB\",\"code\":200,\"version\":\"1.0.0\",\"data\":null}"
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-ekspor-pkbe" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk mendownload data NPE, filter yang digunakan adalah No PKBE, Tanggal PKBE, Kode Kantor",
        "operationId" : "getPKBE",
        "parameters" : [ {
          "name" : "nomorPkbe",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "tanggalPkbe",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "kodeKantor",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseListGetPKBEResponse"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-dokumen-pabean-permit" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk mendownload data Dokumen Pabean dengan parameter kode gudang",
        "operationId" : "getDokumenPabeanPermit",
        "parameters" : [ {
          "name" : "kodeGudang",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseListDokumenPabeanPermitResponseDto"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/cek-npe" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk cek data NPE, filter yang digunakan adalah NPWP Eksportir, nomor NPE dan tanggal NPE, format tanggal #dd-MM-yyyy#",
        "operationId" : "cekNpe",
        "parameters" : [ {
          "name" : "npwpEks",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "nomorNpe",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "tanggalNpe",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseCekNpeResponse"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/coarri-codeco-container" : {
      "post" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk insert data Coarri-Codeco Container(Baru, dengan penambahan kolom pada detil container)",
        "operationId" : "insertCoarriCodecoContainer",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/CoarriCodecoKontainerRequest"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseObject"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-data-ob" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk mendownload data OB/Pindah TPS, filter yang digunakan adalah kode TPS",
        "operationId" : "getDataOB",
        "parameters" : [ {
          "name" : "kodeTps",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseListDataObDto"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-sppb12-tps-tujuan" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Get SPPB BC1.2 data by Kode TPS Tujuan",
        "operationId" : "getSppb12TpsTujuan",
        "parameters" : [ {
          "name" : "kodeTpsTujuan",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseListBc12TdHdrDto"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/cek-data-sppb" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk cek jumlah data SPPB berdasarkan tanggal sppb tertentu",
        "operationId" : "cekDataSPPB",
        "parameters" : [ {
          "name" : "tanggalSPPB",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseCekDataSPPBResponse"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-respon-plp-tujuan" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk mendownload data Respon PLP yang sudah disetujui, oleh TPS Tujuan, filter yang digunakan adalah kode TPS",
        "operationId" : "getResponPLPTujuan",
        "parameters" : [ {
          "name" : "kodeTps",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseResponPLPTujuanResponseDto"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-respon-batal-plp-tujuan" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk mengambil data Respon Batal PLP Tujuan",
        "operationId" : "getResponBatalPlpTujuan",
        "parameters" : [ ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseResponBatalPlpTujuanResponseDto"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-batal-pabean-permit" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk mengambil data batal pabean permit",
        "operationId" : "getBatalPabeanPermit",
        "parameters" : [ {
          "name" : "kodeGudang",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseBatalPabeanResponseDto"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/permohonan-plp" : {
      "post" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk Upload data permohonan PLP",
        "operationId" : "pemohonanPlp",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/PermohonanPlpRequestV2"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseObject"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/kirim-laporan-yor" : {
      "post" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk Mengirimkan Informasi Laporan YOR",
        "operationId" : "kirimLaporanYor",
        "parameters" : [ ],
        "requestBody" : {
          "content" : {
            "application/json" : {
              "schema" : {
                "$ref" : "#/components/schemas/DokumenLaporanYorDto"
              },
              "example" : null
            }
          },
          "required" : true
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseObject"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-impor-bc11" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk mendownload data SPPB",
        "description" : "Fungsi untuk mendownload data SPPB, filter yang digunakan adalah nomor BC11 dan tanggal BC11 format tanggal #dd-MM-yyyy#",
        "operationId" : "GetImpor_Bc11",
        "parameters" : [ {
          "name" : "nomorBc11",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "tanggalBc11",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "examples" : {
                  "Data berhasil terkirim" : {
                    "description" : "Data berhasil terkirim",
                    "value" : "{\"result\":\"Data(s) successfully fetched.\",\"detail\":\"Data berhasil terkirim.\",\"path\":\"/get-impor-bc11\",\"date\":\"18-08-2025 23:48:21:98 WIB\",\"code\":200,\"version\":\"1.0.0\",\"data\":[{\"nomorDokumen\":\"NODOK339\",\"jenisDokumen\":\"20\",\"tanggalDokumen\":\"2025-07-25\",\"car\":\"CAR57\",\"jenisRespon\":\"RSP1\",\"kodeKantor\":\"040300\",\"nomorPib\":\"PIB13\",\"tanggalPib\":\"2025-04-02\",\"npwpImp\":\"1234567890123456\",\"npwp16Imp\":\"1234567890123456\",\"npwpPpjk\":\"1234567890123456\",\"npwp16Ppjk\":\"1234567890123456\",\"namaAngkut\":\"ANG1\",\"nomorVoyFlight\":\"VOY13\",\"bruto\":20,\"netto\":20,\"kodeTps\":\"PTP2\",\"kodeGudang\":\"GUDA\",\"kodeStatusJalur\":\"JL\",\"jumlahKontainer\":1,\"nomorBc11\":\"POSX31\",\"tanggalBc11\":\"2025-04-04\",\"nomorPosBc11\":\"POSBC11\",\"flagKarantina\":true,\"flagAmbilTps\":true,\"waktuAmbilTps\":\"2025-08-18T16:20:51.521+00:00\",\"userAmbil\":\"userdemoscs\",\"flagAmbilTpft\":null,\"waktuAmbilTpft\":null,\"userAmbilTpft\":null,\"nipPetugas\":null,\"waktuRekam\":null,\"waktuUpdate\":null},{\"nomorDokumen\":\"NODOK339\",\"jenisDokumen\":\"20\",\"tanggalDokumen\":\"2025-07-25\",\"car\":\"CAR57\",\"jenisRespon\":\"RSP1\",\"kodeKantor\":\"040300\",\"nomorPib\":\"PIB13\",\"tanggalPib\":\"2025-04-02\",\"npwpImp\":\"1234567890123456\",\"npwp16Imp\":\"1234567890123456\",\"npwpPpjk\":\"1234567890123456\",\"npwp16Ppjk\":\"1234567890123456\",\"namaAngkut\":\"ANG1\",\"nomorVoyFlight\":\"VOY13\",\"bruto\":20,\"netto\":20,\"kodeTps\":\"KOJA\",\"kodeGudang\":\"KOJA\",\"kodeStatusJalur\":\"JL\",\"jumlahKontainer\":1,\"nomorBc11\":\"POSX31\",\"tanggalBc11\":\"2025-04-04\",\"nomorPosBc11\":\"POSBC11\",\"flagKarantina\":true,\"flagAmbilTps\":true,\"waktuAmbilTps\":\"2025-08-18T16:20:51.521+00:00\",\"userAmbil\":\"userdemoscs\",\"flagAmbilTpft\":null,\"waktuAmbilTpft\":null,\"userAmbilTpft\":null,\"nipPetugas\":null,\"waktuRekam\":null,\"waktuUpdate\":null},{\"nomorDokumen\":\"NODOK339\",\"jenisDokumen\":\"20\",\"tanggalDokumen\":\"2025-07-25\",\"car\":\"CAR57\",\"jenisRespon\":\"RSP1\",\"kodeKantor\":\"040300\",\"nomorPib\":\"PIB13\",\"tanggalPib\":\"2025-04-02\",\"npwpImp\":\"1234567890123456\",\"npwp16Imp\":\"1234567890123456\",\"npwpPpjk\":\"1234567890123456\",\"npwp16Ppjk\":\"1234567890123456\",\"namaAngkut\":\"ANG1\",\"nomorVoyFlight\":\"VOY13\",\"bruto\":20,\"netto\":20,\"kodeTps\":\"RAYA\",\"kodeGudang\":\"GUDA\",\"kodeStatusJalur\":\"JL\",\"jumlahKontainer\":1,\"nomorBc11\":\"POSX31\",\"tanggalBc11\":\"2025-04-04\",\"nomorPosBc11\":\"POSBC11\",\"flagKarantina\":true,\"flagAmbilTps\":true,\"waktuAmbilTps\":\"2025-08-18T16:20:51.521+00:00\",\"userAmbil\":\"userdemoscs\",\"flagAmbilTpft\":null,\"waktuAmbilTpft\":null,\"userAmbilTpft\":null,\"nipPetugas\":null,\"waktuRekam\":null,\"waktuUpdate\":null}]}"
                  },
                  "Data tidak ditemukan" : {
                    "description" : "Data tidak ditemukan",
                    "value" : "{\"result\":\"Data(s) successfully fetched.\",\"detail\":\"Data tidak ditemukan. Tidak ada data yang sesuai dengan pencarian.\",\"path\":\"/get-impor-bc11\",\"date\":\"18-08-2025 23:51:49:48 WIB\",\"code\":200,\"version\":\"1.0.0\",\"data\":null}"
                  }
                },
                "example" : null
              }
            }
          },
          "400" : {
            "description" : "Error: response status is 400",
            "content" : {
              "application/json" : {
                "examples" : {
                  "Invalid date format" : {
                    "description" : "Invalid date format",
                    "value" : "{\"result\":\"Some of parameter(s) are invalid.\",\"detail\":\"Invalid date format. Expected dd-MM-yyyy.\",\"path\":\"/get-impor-bc11\",\"date\":\"18-08-2025 23:52:20:56 WIB\",\"code\":400,\"version\":\"1.0.0\",\"data\":null}"
                  }
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-sp3b-tps-bongkar" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk mendownload data SP3B, filter yang digunakan adalah No. BC11, Tgl. BC11 dengan format #dd-MM-yyyy# dan kode kantor",
        "operationId" : "getSP3BTpsBongkar",
        "parameters" : [ {
          "name" : "nomorBc11",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        }, {
          "name" : "tanggalBc11",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseListSp3bResponseDto"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/get-impor-permit-200" : {
      "get" : {
        "tags" : [ "H2H Service" ],
        "summary" : "Fungsi untuk mendownload data SPPB, filter yang digunakan adalah kode Gudang (hasil 200 rows)",
        "operationId" : "getImporPermit200",
        "parameters" : [ {
          "name" : "kodeGudang",
          "in" : "query",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "form",
          "explode" : true,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "requestBody" : {
          "content" : { }
        },
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "application/json" : {
                "examples" : {
                  "Data berhasil terkirim" : {
                    "description" : "Data berhasil terkirim",
                    "value" : "{\"result\":\"Data(s) successfully fetched.\",\"detail\":\"Data berhasil terkirim.\",\"path\":\"/get-impor-permit-200\",\"date\":\"18-08-2025 23:20:48:28 WIB\",\"code\":200,\"version\":\"1.0.0\",\"data\":[{\"nomorDokumen\":\"NODOK342\",\"jenisDokumen\":\"2\",\"tanggalDokumen\":\"2025-07-25\",\"car\":\"CAR57\",\"jenisRespon\":\"RSP1\",\"kodeKantor\":\"040300\",\"nomorPib\":\"PIB13\",\"tanggalPib\":\"2025-06-03\",\"npwpImp\":\"1234567890123456\",\"npwp16Imp\":\"1234567890123456\",\"npwpPpjk\":\"1234567890123456\",\"npwp16Ppjk\":\"1234567890123456\",\"namaAngkut\":\"ANG1\",\"nomorVoyFlight\":\"VOY13\",\"bruto\":20,\"netto\":20,\"kodeTps\":\"DOJA\",\"kodeGudang\":\"DOJA\",\"kodeStatusJalur\":\"JL\",\"jumlahKontainer\":1,\"nomorBc11\":\"POSX31\",\"tanggalBc11\":\"2025-06-06\",\"nomorPosBc11\":\"POSBC11\",\"flagKarantina\":true,\"flagAmbilTps\":true,\"waktuAmbilTps\":\"2025-08-18T16:20:51.866+00:00\",\"userAmbil\":\"userdemoscs\"},{\"nomorDokumen\":\"DOK/34131\",\"jenisDokumen\":\"2\",\"tanggalDokumen\":\"2025-08-06\",\"car\":\"CAR392193SAS\",\"jenisRespon\":\"1\",\"kodeKantor\":\"040300\",\"nomorPib\":\"PIB13\",\"tanggalPib\":\"2025-06-04\",\"npwpImp\":\"1234567890123456\",\"npwp16Imp\":\"1234567890123456\",\"npwpPpjk\":\"1234567890123456\",\"npwp16Ppjk\":\"1234567890123456\",\"namaAngkut\":\"ANG1\",\"nomorVoyFlight\":\"VOY13\",\"bruto\":20,\"netto\":20,\"kodeTps\":\"DOJA\",\"kodeGudang\":\"DOJA\",\"kodeStatusJalur\":\"JL\",\"jumlahKontainer\":1,\"nomorBc11\":\"POSX31\",\"tanggalBc11\":\"2025-06-06\",\"nomorPosBc11\":\"POSBC11\",\"flagKarantina\":true,\"flagAmbilTps\":true,\"waktuAmbilTps\":\"2025-08-18T16:20:51.866+00:00\",\"userAmbil\":\"userdemoscs\"}]}"
                  }
                },
                "example" : null
              }
            }
          },
          "403" : {
            "description" : "Error: response status is 403",
            "content" : {
              "application/json" : {
                "example" : "{\"result\":\"Some of parameter(s) are invalid.\",\"detail\":\"Anda tidak mempunyai hak akses terhadap gudang 'KOJA'\",\"path\":\"/get-impor-permit-200\",\"date\":\"18-08-2025 23:25:26:00 WIB\",\"code\":403,\"version\":\"1.0.0\",\"data\":null}"
              }
            }
          }
        }
      },
      "parameters" : [ ]
    },
    "/api/async/status/{processId}" : {
      "get" : {
        "tags" : [ "Background Process" ],
        "operationId" : "getStatus",
        "parameters" : [ {
          "name" : "processId",
          "in" : "path",
          "required" : true,
          "allowEmptyValue" : false,
          "style" : "simple",
          "explode" : false,
          "schema" : {
            "type" : "string",
            "example" : null
          }
        } ],
        "responses" : {
          "200" : {
            "description" : "OK",
            "content" : {
              "*/*" : {
                "schema" : {
                  "$ref" : "#/components/schemas/DataResponseAsyncStatusDetailResponse"
                },
                "example" : null
              }
            }
          }
        }
      },
      "parameters" : [ ]
    }
  },
  "components" : {
    "schemas" : {
      "DataResponseListSp3bResponseDto" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "string",
            "example" : null
          },
          "date" : {
            "type" : "string",
            "example" : null
          },
          "path" : {
            "type" : "string",
            "example" : null
          },
          "code" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "data" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/Sp3bResponseDto"
            },
            "example" : null
          },
          "detail" : {
            "type" : "string",
            "example" : null
          },
          "version" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "DataResponseResponBatalPlpOnDemandResponseDto" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "string",
            "example" : null
          },
          "date" : {
            "type" : "string",
            "example" : null
          },
          "path" : {
            "type" : "string",
            "example" : null
          },
          "code" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "data" : {
            "$ref" : "#/components/schemas/ResponBatalPlpOnDemandResponseDto"
          },
          "detail" : {
            "type" : "string",
            "example" : null
          },
          "version" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "DataResponseBatalPabeanResponseDto" : {
        "type" : "object",
        "properties" : {
          "result" : {
            "type" : "string",
            "example" : null
          },
          "date" : {
            "type" : "string",
            "example" : null
          },
          "path" : {
            "type" : "string",
            "example" : null
          },
          "code" : {
            "type" : "integer",
            "format" : "int32",
            "example" : null
          },
          "data" : {
            "$ref" : "#/components/schemas/BatalPabeanResponseDto"
          },
          "detail" : {
            "type" : "string",
            "example" : null
          },
          "version" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "CekNpeResponse" : {
        "type" : "object",
        "properties" : {
          "respon" : {
            "type" : "boolean",
            "example" : null
          }
        },
        "example" : null
      },
      "CekDataSPPBResponse" : {
        "type" : "object",
        "properties" : {
          "jumlah" : {
            "type" : "integer",
            "format" : "int64",
            "example" : null
          },
          "sppbNo" : {
            "type" : "array",
            "items" : {
              "type" : "string",
              "example" : null
            },
            "example" : null
          }
        },
        "example" : null
      },
      "ResponBatalPlpOnDemandKemasanDto" : {
        "type" : "object",
        "properties" : {
          "jumlahKemasan" : {
            "type" : "string",
            "example" : null
          },
          "tanggalBlAwb" : {
            "type" : "string",
            "example" : null
          },
          "flagSetuju" : {
            "type" : "string",
            "example" : null
          },
          "nomorBlAwb" : {
            "type" : "string",
            "example" : null
          },
          "jenisKemasan" : {
            "type" : "string",
            "example" : null
          }
        },
        "example" : null
      },
      "PendukungPLPBLResponseDto" : {
        "type" : "object",
        "properties" : {
          "detil" : {
            "type" : "array",
            "items" : {
              "$ref" : "#/components/schemas/PendukungPLPBLDetilPosDto"
            },
            "example" : null
          },
          "header" : {
            "$ref" : "#/components/schemas/PendukungPLPBLHeaderDto"
          }
        },
        "example" : null
      },
      "BC23PermitHeaderPojo" : {
        "type" : "object",
        "properties" : {
          "tanggalBc11" : {
            "type" : "string",
            "example" : null
          },
          "tanggalBlAwb" : {
            "type" : "string",
            "example" : null
          },
          "gudang" : {
            "type" : "string",
            "example" : null
          },
          "statusJalur" : {
            "type" : "string",
            "example" : null
          },
          "nomorBc11" : {
            "type" : "string",
            "example" : null
          },
          "nomorMasterBlAwb" : {
            "type" : "string",
            "example" : null
          },
          "namaPpjk" : {
            "type" : "string",
            "example" : null
          },
          "alamatImp" : {
            "type" : "string",
[...]
